.main-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.counter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20rem;
}

.counter-section__title {
  font-size: 5rem;
  padding: 1rem;
}

.counter-section__number {
  font-size: 3rem;
  padding: 1rem;
}

.counter-section__actions {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.counter-section__actions-increase,
.counter-section__actions-reset,
.counter-section__actions-decrease {
  flex: 1 1 auto;
  text-transform: uppercase;
  min-width: 8rem;
  min-height: 5rem;
  margin: 0.5rem;
  font-size: 1rem;
  background-color: var(--white-color);
  border-radius: 2rem;
}

@media screen and (min-width: 768px) {
  .counter-section {
    width: 100%;
    height: 35rem;
  }

  .counter-section__title {
    font-size: 10rem;
    padding: 1rem;
  }

  .counter-section__number {
    font-size: 7rem;
    padding: 1rem;
  }

  .counter-section__actions-increase,
  .counter-section__actions-reset,
  .counter-section__actions-decrease {
    cursor: pointer;
  }
}
